.container-fluid{
    color: aliceblue;
    background-image: url(../../assets/medusa.jpg);
    background-size: cover; 
    background-repeat: no-repeat;
    height: 90vh;
    width: 100vw;
}
p{
    font-size: 28px;
}
input {
    color: aliceblue;
    background: rgba(0,0,0,0.2);
}
textarea{
    color: aliceblue;
    background: rgba(0,0,0,0.2);
}