<!-- <div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Producto</h2>
        </div>
        <div class="col-4 photos" *ngFor="let foto of fotos">
                <div class="photos__item">
                    <img id="myImg" [src]="foto.img" class="img-fluid photos__img" alt="" >
                </div>
        </div>
    </div>
    
</div> -->


<section class="gallery-block compact-gallery">
    <div class="container">
        <div class="heading">
            <h2>Producto</h2>
        </div>
        
        <div class="row no-gutters">
           
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/producto/producto4.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/producto/producto5.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/producto/producto6.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/producto/producto7.png">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/producto/producto9.png">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/producto/producto10.png">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/producto/producto11.png">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/producto/producto13.png">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/producto/producto12.png">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/producto/producto14.png">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/producto/producto15.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/producto/producto16.jpg">
            </div>
        </div>
    </div>
</section>
