<section class="gallery-block compact-gallery">
    <div class="container">
        <div class="heading">
            <h2>retrato</h2>
        </div>
        
        <div class="row no-gutters">
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato4.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato5.jpg">
            </div>
                   
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato6.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato1.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato2.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato3.jpg">
            </div>
           
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato25.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato26.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato27.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato22.JPG">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato23.JPG">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato24.JPG">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato7.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato8.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato9.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato10.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato12.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato11.jpg">
            </div>
           
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato13.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato14.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato15.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato16.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato17.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato18.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato19.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato20.jpg">
            </div>
            <div class="col-md-6 col-lg-4 col-sm-12 item zoom-on-hover">
                <img class="img-fluid image" src="../../assets/retrato/retrato21.jpg">
            </div>
            



            
        </div>
    </div>
</section>
