/* You can add global styles to this file, and also import other style files, 482.732px */
@import "./sass/base";

body{
    background-color: #fcfcfc;
    font-family: 'Gotu', sans-serif;
}

.photos{
   /* width: calc(33% - 2em);
    &__item{
        z-index: 1;
    }*/
    &__img{
        border-radius: 3px;
        left: 0px;
        width: 100%;
        height: 60vh;
        position: relative;
        margin-bottom: 5px;
    }
}
/*.photos .active::after{
    content: "";
    position: fixed;
    width: 100vw;
    height:100vh;
    top: 0;
    background-color: rgba(8, 8, 8, 70);
    z-index: 0;

}*/