.carousel-item{
     height: 90vh;
}

a{
    text-decoration: none;
    color:black;
}
.image{
    padding: 15px;
}

@media only screen 
   and (min-device-width: 768px) 
   and (max-device-width: 1024px) 
   and (-webkit-min-device-pixel-ratio: 1) {
     .carousel-item{
         height: 50vh;
    }
   .seccion{
       padding: 10px;
   }
 }

 @media only screen 
   and (min-device-width: 834px) 
   and (max-device-width: 1112px)
   and (-webkit-min-device-pixel-ratio: 2) {
     .carousel-item{
         height: 50vh;
    }
 }

 /*Telefonos*/
 // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 
    .carousel-item{
        height: 50vh;
   }
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 
    .carousel-item{
        height: 50vh;
   }
 }
