<div class="container-fluid">
  <div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active " data-interval="1500">
        <img src="../../assets/slider/slider3.JPG" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item  " data-interval="1500">
        <img src="../../assets/slider/slider9.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item  " data-interval="1500">
        <img src="../../assets/slider/slider10.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item  " data-interval="1500">
        <img src="../../assets/slider/slider7.jpg" class="d-block w-100 img-fluid" alt="...">
      </div>
      <div class="carousel-item" data-interval="1500">
        <img src="../../assets/slider/slider6.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item" data-interval="1500">
        <img src="../../assets/slider/slider8.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleInterval" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleInterval" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<section class="seccion">
    <div class="row my-5">
        
        <div class="col-6  item zoom-on-hover">
            <img class="img-fluid image" src="../../assets/retrato/retrato2.jpg">
        </div>
        <div class="col-6 align-self-center">
            <h2 class="text-center">
              <a [routerLink]="[ 'retrato']">Retrato</a> 
            </h2>
        </div>
    </div>
    <div class="row">
            <div class="col-6 align-self-center">
                <h2 class="text-center">
                    <a [routerLink]="[ 'producto']">Producto</a>
                </h2>
            </div>
            <div class="col-6 item zoom-on-hover">
                    <img class="img-fluid image  w-100" src="../../assets/producto/producto7.png">
            </div>
        </div>
</section>
